<!DOCTYPE html>
<html class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/output.css" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body class="bg-primary-bg text-primary-text min-h-screen h-full">
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
